.knockedDown {
    opacity: .5;
}

.dead {
    opacity: .7;
    filter: grayscale(1) blur(1px);
}

.deadBlock {
    position: absolute;
    opacity: .2;
    top: 100px;
    left: 50px;
    font-size: 100px;
    transform: rotate(345deg);
    font-weight: bold;
}